*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
a{
    outline: none;
    text-decoration: none;
    color: black;
}
input{
    outline: none;
    border: none;
}
button{
    border: 0;
}
select{
    outline: none;
    border: none;
    cursor: pointer;
}
body{
    background: #b2bbb6;
    width: 1200px;
    font-family: Noto Sans;
    cursor: pointer;
}
main{
    position: fixed;
    width: 91.5%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 0.5pc;
    border-top-right-radius: 0.5pc;
    margin: 55px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}
.logo{
    place-items: center;
    padding-bottom: 5px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo span{
    font-weight: 600;
    font-size: 1.2rem;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    outline: none;
    margin-left: 20px;
    color: black;
    transition: .3s ease-in-out;
}
a:hover{
    color: rgb(46 125 132);
    transform: scale(1.05);
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user img{
    margin-right: 5px;
}
.user span a{
    color: black;
    cursor: pointer;
}
.add-listing{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(46 125 132);
    border-radius: 5pc;
    padding: 3px 13px;
    margin-left: 15px;
    cursor: pointer;
}

.home-content{
    width: 370px;
    margin: 70px;
}
.home-content p{
    color: #474747;
    font-weight: 600;
}
.home-content span{
    font-size: 2rem;
    font-weight: bold;
}
.home-content small{
    color: #474747;
    font-size: .95rem;
}

.range{
    width: 650px;
    height: 110px;
    background: rgba(245, 245, 245, 0.911);
    border-radius: 0.7pc;
    margin-top: 10px;
    z-index: -1;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.block1{
    display: grid;
    place-items: center;
    margin-top: 0;
}
.block1 li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: white;
    border-radius: 5pc;
    width: 120px;
    padding: 4px;
    margin-top: 15px;
}
.block1 li small{
    color: black;
    font-size: small;
}
.block1 li img{
    margin-right: 15px;
}
.block1 li select{
    width: 27%;
    background: transparent;
    font-size: smaller;
    color: rgb(46 125 132);
}
.block1 li select option{
    background: transparent;
    font-size: small;
    color: rgb(46 125 132);
}

.block2{
    display: grid;
    place-items: center;
}
.block2 div{
    margin-top: 13px;
}
.location{
    background: white;
    width: 300px;
    padding: 7px;
    border-radius: 4pc;
    margin-bottom: 10px;
}
.location input{
    width: 100%;
    margin: 5px;
}
.price-range{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.price-range input{
    width: 100%;
}
/* .slider{
    -webkit-appearance: none;
    background: #d99079;
} */
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background: rgb(46 125 132);
    border-radius: 5pc;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 0;
}
.search button{
    background: transparent;
    cursor: pointer;
}
.search:hover{
    background: rgba(255, 255, 255, 0.884);
    font-weight: bold;
    box-shadow: 0 0 .5rem #dba490;
}
.search:hover{
    transition: .5s ease-in-out;
}
.search:hover{
    transform: scale(1.05);
}


.ratings{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    place-items: center;
    width: 85.40%;
    height: 3.5%;
    background: white;
    padding: 40px;
    z-index: 1;
    top: 539px;
    right: 56px;
    position: fixed;
    border-bottom-left-radius: 0.5pc;
    border-bottom-right-radius: 0.5pc;
}
.ratings div{
    display: grid;
    place-items: center;
    margin: 30px;
    width: 100%;
}
.ratings nav{
    width: 100%;
    padding: 20px;
    border-right: 1px solid black;
}
.ratings div nav:nth-child(1){
    border-right: 0;
}
.ratings nav p{
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.ratings nav small{
    font-size: smaller;
}




.main{
    position: absolute;
    top: -15px;
    z-index: 1;
    width: 450px;
    height: 650px;
    box-shadow: 0 0 1rem rgb(46 125 132);
    margin: 40px 400px;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.938);
    border-radius: .3pc;
}
.sign-up-box{
    display: grid;
    place-items: left;
    margin: 25px;
}
.sign-up-box p{
    font-size: 1.5rem;
    color: #474747;
    padding-bottom: 50px;
}
.sign-up-box div input{
    cursor: pointer;
    background: transparent;
    margin-bottom: 5px;
    width: 100%;
} 
.sign-up-box div:nth-child(2){
    margin-bottom: 50px;
}
.sign-up-box div:nth-child(3){
    margin-bottom: 50px;
}
.sign-up-box div:nth-child(4){
    margin-bottom: 50px;
}
.sign-up-box div:nth-child(5){
    margin-bottom: 50px;
}
.sign-up-box div:nth-child(6){
    margin-bottom: 50px;
}
.sign-up-box button{
    position: absolute;
    top: 510px;
    left: 240px;
    margin-top: 50px;
    width: 40%;
    padding: 15px;
    font-weight: 600;
    background: rgb(46 125 132);
    color: white;
    cursor: pointer;
    border-radius: .3pc;
}
.sign-up-box button:hover{
    background: white;
    transition: .2s ease-in-out;
    transform: scale(.2);
    transform: translateY(-2px);
    color: black;
    box-shadow: 0 0 1rem #dba490;
}
.dob{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dob select{
    background: transparent;
    color: #474747d3;
    margin: 1px 80px;
    cursor: pointer;
}
.close a{
    position: absolute;
    left: 420px;
    top: -18px;
    background: white;
    padding: 15px;
    border-radius: 20pc;
    color: black;
    font-size: 1rem;
    box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.096);
    cursor: pointer;
}
.close button{
    background: inherit;
}
.close img{
    cursor: pointer;
}